html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px/1.714285714285714;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  background-color: #505061;
}

%pm-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  cursor: pointer;
  z-index: 1;
  outline: none;

  &.action {
    cursor: pointer;
    z-index: 1;
    height: 40px;
    min-height: 40px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    border-color: transparent;
  }

  &.lg {
    height: 60px;
    line-height: 15px;
    font-size: 16px;
  }

  &.active {
    color: #fff;
    font-weight: 800;
  }

  div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

:global .osx-drag-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 23px;
  -webkit-app-region: drag;
}

.view-container {
  user-select: none;
  display: flex;
  align-items: stretch;
  height: 100vh;
  // background-image: url('../images/mountain.png'), url('../images/pm-logo.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, center center;

  .etabs-views {
    flex: 4;
  }

  .settings-container {
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #fff;

    .settings-button:hover {
      box-shadow: 0 1px 0 0 white;
      cursor: pointer;
    }
  }
}
