@import '../Sidebar/style.scss';

.AccountBadge {
  @extend %tab-shared;
  border-radius: 10%;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 2px #9397cd;
  }

  &:nth-child(even) {
    background: #9397cd;
  }

  &:nth-child(odd) {
    background: #5e63a5;
  }
}

.Active {
  box-shadow: 0 0 0 2px #fff;

  &:hover {
    box-shadow: 0 0 0 2px #fff;
  }
}

.NotificationBadge {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  background: red;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(50%, -50%);

  &.hidden {
    display: none;
  }

  sub {
    position: absolute;
    bottom: 0;
  }
}

