html {
    overflow: hidden;
}

/* Fix "Back to main page" header */

#pm_header {
    display: none;
}

/* don't show outline on clickable elements
 * except in the delete/mute modal so that we know what we are selecting */

a, *[role="button"] {
    outline: none !important;
}
