body {
	background-color: #505061;
	user-select: none;
}

.m-colored {
  background: #393945;
  color: #fff;
  text-decoration: none;
   border-bottom-width:2px;
   border-bottom-color:White;
   border-bottom-style: solid;
}
.panel {
  background: #393945;
  width: 85%;
  min-width: 600px;
  max-width: 1200px;
  color: white;
}
.m-nav {
  width: 85%;
  margin: 10px 0 10px 0;
  min-width: 600px;
  max-width: 1200px;
  display: inline-block;
  text-align: center;
	& li {
	  list-style: none;
	  margin: 0 auto;
	  padding: 0 0 4px 0;
	  display: inline-block;
		a {
			text-transform: uppercase;
			font-weight: 400;
			text-decoration: none;
			font: 18px "Arial Narrow", Arial, Helvetica, sans-serif;
			padding: 6px 9px;
			transition: 0.7s ease all;
			margin-top: 7px;
			margin-left: 7px;
			display: inline-block;
			cursor: pointer;	
			letter-spacing: 1px;	
		}
		a:hover {
			  background: rgba(255, 255, 255, 0.3);
			  transition: 0.7s ease all;	
		}
	}
}




