%tab-shared {
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: #fff;
  border-color: transparent;
  margin-bottom: 15px;
}

.container {
  background: darken(#505061, 10%);
  padding: 40px 20px;
  user-select: none;

  .tab {
    @extend %tab-shared;

    width: 100%;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    min-height: 40px;

    &.active span.etabs-tab-title {
      color: #fff;
      box-shadow: 0 0 0 2px #fff;
    }

    .etabs-tab-button-close {
      display: none;
    }

  }
}

.SettingsTab {
  @extend %tab-shared;

  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
