%tab-shared {
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: transparent;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: #fff;
  border-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.container {
  background: darken(#505061, 10%);
  padding: 40px 0;
  user-select: none;
  will-change: width;
  transition: width 200ms;
  width: 80px;
  overflow: hidden;

  .tab {
    @extend %tab-shared;

    display: inline-block;
    font-size: 25px;
    padding: 12px;

    &.active span.etabs-tab-title {
      color: #fff;
      box-shadow: 0 0 0 2px #fff;
    }

    .etabs-tab-button-close {
      display: none;
    }
  }
}

.containerHidden {
  width: 0;
}

.SettingsTab {
  @extend %tab-shared;

  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
